
<main>
    <section id="background">
        <div class="blog-background-images" style="background-image:url(./assets/images/blog/blog-background.jpg)">
            <h2>Blog</h2>
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="section-1">
                        <div class="image-1">
                            <a href="BlogDetail.html"><img src="./assets/images/blog/blog-image-1.jpg" alt=""></a>
                        </div>
                        <div class="name-date">
                            <div class="name">
                                <p>JOHN STRASS /</p>
                            </div>
                            <div class="date">
                                <p> July 29, 2019 </p>
                            </div>
                        </div>
                        <div class="title">
                            <a href="BlogDetail.html">Coffee and croissant with our favorite Erika</a>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie sed
                                tortor id
                                euismod. Phasellus mi odio, pulvinar vitae vestibulum fringilla, dapibus eu sem. Sed
                                consectetur sem ac tortor iaculis, sed sodales est faucibus. Integer nec feugiat
                                justo.
                                Suspendisse potenti. Vivamus sit amet congue magna, eget maximus nunc. Mauris mollis
                                magna elementum, varius orci a, blandit est. Vestibulum eget sodales...
                            </p>
                        </div>
                        <div class="read-more">
                            <a href="BlogDetail.html">Read More</a>
                        </div>
                    </div>
                    <div class="section-2">
                        <div class="sign">
                            <h1>’’</h1>
                        </div>
                        <div class="description">
                            <p>
                                “The person, be it gentleman or lady, who has not pleasure in a good novel, must be
                                intolerably stupid.”
                            </p>
                        </div>
                        <div class="author-name">
                            <p>JANE AUSTEN</p>
                        </div>
                    </div>
                    <div class="section-3">
                        <div class="image-1">
                            <a href="BlogDetail.html"><img src="./assets/images/blog/blog-image-2.jpg" alt=""></a>
                        </div>
                        <div class="name-date">
                            <div class="name">
                                <p>JOHN STRASS /</p>
                            </div>
                            <div class="date">
                                <p> July 29, 2019 </p>
                            </div>
                        </div>
                        <div class="title">
                            <a href="BlogDetail.html">A Shakespearean reading evening in book club</a>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie sed
                                tortor id
                                euismod. Phasellus mi odio, pulvinar vitae vestibulum fringilla, dapibus eu sem. Sed
                                consectetur sem ac tortor iaculis, sed sodales est faucibus. Integer nec feugiat
                                justo.
                                Suspendisse potenti. Vivamus sit amet congue magna, eget maximus nunc. Mauris mollis
                                magna elementum, varius orci a, blandit est. Vestibulum eget sodales...
                            </p>
                        </div>
                        <div class="read-more">
                            <a href="BlogDetail.html">Read More</a>
                        </div>
                    </div>
                    <div class="section-4">
                        <div class="icon">
                            <i class="fa-solid fa-link"></i>
                        </div>
                        <div class="link">
                            <a target="_blank"
                               href="https://qodeinteractive.com/wordpress-theme/chapterone-bookstore-and-publisher-theme/">"https://qodeinteractive.com/wordpress-theme/chapterone-bookstore-and-publisher-theme/"</a>
                        </div>
                    </div>
                    <div class="section-5">
                        <div class="pagination">
                            <div class="left-icon">
                                <i class="fa-solid fa-angle-left"></i>
                            </div>
                            <div class="number">
                                <p>1</p>
                                <p>2</p>
                            </div>
                            <div class="right-icon">
                                <i class="fa-solid fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="section-6">
                        <div class="image">
                            <img src="./assets/images/blog/author.png" alt="">
                        </div>
                        <div class="country">
                            <p>AUSTRIA</p>
                        </div>
                        <div class="name">
                            <h4>John Strass</h4>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ...
                            </p>
                        </div>
                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>

                    </div>
                    <div class="section-7">
                        <div class="categories">
                            <h5>Categories</h5>
                        </div>
                        <div class="category">
                            <p>AUTHORS</p>
                            <p>BOOK CLUBS</p>
                            <p>KIDS</p>
                            <p>READING</p>
                            <p>SCIENCE FICTION</p>
                            <p>THRILLER</p>
                        </div>
                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>
                    </div>
                    <div class="section-8">
                        <div class="image">
                            <img src="./assets/images/blog/blog-sidebar-image.jpg" alt="">
                        </div>
                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>
                    </div>
                    <div class="section-9">
                        <div class="tags">
                            <h5>Tags</h5>
                        </div>
                        <div class="tags-name">
                            <p>Editions</p>
                            <p>Fairs</p>
                            <p>Holiday</p>
                            <p>Literature</p>
                            <p>Publishing</p>
                            <p>School</p>
                        </div>
                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>
                    </div>
                    <div class="section-10">
                        <div class="socials">
                            <h5>Social</h5>
                        </div>
                        <div class="icons">
                            <ul>
                                <li>
                                    <a target="_blank" href="https://twitter.com/">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/?hl=en">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.flickr.com/">
                                        <i class="fa-brands fa-flickr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.pinterest.com/">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>
                    </div>
                    <div class="section-11">
                        <div class="latest-titles">
                            <h5>The latest titles</h5>
                        </div>
                        <div class="image-name">
                            <div class="image">
                                <a href="ProductDetail.html">
                                    <img src="./assets/images/blog/product-1.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="name-price">
                                <a href="">Winter Darkest Tragedy</a>
                                <p>$38.00</p>
                            </div>
                        </div>
                        <div class="image-name mt-2">
                            <div class="image">
                                <a href="ProductDetail.html">
                                    <img src="./assets/images/blog/product-2.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="name-price">
                                <a href="ProductDetail.html">Symphony Of Trilogy</a>
                                <p>$22.00</p>
                            </div>
                        </div>
                        <div class="image-name mt-2">
                            <div class="image">
                                <a href="ProductDetail.html">
                                    <img src="./assets/images/blog/product-3.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="name-price">
                                <a href="ProductDetail.html">Wellness And Paradise</a>
                                <p>$67.00</p>
                            </div>
                        </div>
                        <div class="image-name mt-2">
                            <div class="image">
                                <a href="ProductDetail.html">
                                    <img src="./assets/images/blog/product-4.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="name-price">
                                <a href="ProductDetail.html">Renaissance History</a>
                                <p>$30.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>


@section Scripts{
    <script src="~/assets/js/blog.js"></script>
}


