@model BlogUpdateVM

@{
    ViewData["Title"] = "Edit";
}


<div class="container my-5">
    <h1>Edit</h1>

    <div class="img-detail">
        <img src="~/assets/images/blog//@Model.Image" style="width:250px;height:200px" />
    </div>

    <form class="form-sample" method="post" enctype="multipart/form-data">
        <label for="formFile" class="form-label">Choose a new image for blog</label>
        <input type="file" class="form-control" id="customFile" asp-for="Photo" />

        <label for="formFile" class="form-label my-2">Title</label>
        <input type="text mt-3" class="form-control" id="customFile" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title">@ViewBag.error</span>

        <label for="formFile" class="form-label my-2">Description</label>
        <input type="text mt-3" class="form-control" id="customFile" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description">@ViewBag.error</span>

        <label for="formFile" class="form-label my-2">Message</label>
        <input type="text mt-3" class="form-control" id="customFile" asp-for="Message" />
        <span class="text-danger" asp-validation-for="Message">@ViewBag.error</span>

        <div class="form-group">
            <label class="my-2">Compiler</label>
            <select class="form-control" id="customFile" asp-for="CompilerId" asp-items="@ViewBag.compiler"></select>
        </div>


        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>

</div>









