#background {
    .blog-background-images {
        height: 300px;
        background-size: cover;
        background-position: center;

        h2 {
            text-align: center;
            color: black;
            padding-top: 120px;
            font-family: monospace;
        }
    }

}