#background {
    .background-images {
        height: 300px;
        background-size: cover;
        background-position: center;

        h2 {
            text-align: center;
            color: white;
            padding-top: 120px;
            font-family: monospace;
        }
    }

}

#forgot-password-form {
    margin-top: 100px;

    .login {
        h2 {
            font-family: monospace;
        }
    }

    .email-label {
        margin-top: 30px;

        label {
            color: gray;
        }
    }

    .email-input {
        margin-top: 10px;

        input {
            width: 100%;
            height: 50px;
            border: 1px solid gray;
            outline: none;
            padding-left: 15px;
            caret-color: rgb(241, 6, 6);
        }
    }

    .send-button {
        margin-top: 20px;

        button {
            width: 130px;
            height: 50px;
            background-color: #d14031;
            color: white;
            border: none;
            font-family: initial;

            &:hover {
                background-color: rgb(172, 2, 2);
                transition: 0.5s;
            }
        }
    }
    
}