#slider {
  margin-top: 75px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider .swiper-pagination-bullet {
  background-color: #000;
}
#slider body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
#slider .swiper {
  width: 100%;
  height: 100%;
}
#slider .swiper-button-prev {
  display: none;
}
#slider .swiper-button-next {
  display: none;
}
#slider .swiper-slide:nth-child(3) p {
  color: white;
}
#slider .swiper-slide:nth-child(3) h1 {
  color: white;
}
#slider .swiper-slide:nth-child(3) h3 {
  color: white;
}
#slider .swiper-slide .shop {
  position: absolute;
  background-color: rgb(197, 2, 2);
  color: #fff;
  padding: 5px 33px;
  width: 200px;
  box-shadow: none !important;
  border: none;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  width: 200x;
  height: 43px;
  left: 160px;
  bottom: 150px;
}
#slider .swiper-slide .shop:hover {
  background-color: rgb(143, 1, 1);
  transition: 0.5s;
}
#slider p {
  position: absolute;
  display: inline-block;
  left: 160px;
  top: 150px;
  font-size: 10px;
  color: #333;
  letter-spacing: 3px;
  font-weight: 700;
}
#slider h1 {
  position: absolute;
  display: inline-block;
  left: 160px;
  top: 160px;
  font-size: 48px;
  color: #333;
  letter-spacing: 3px;
  font-weight: 700;
}
#slider h3 {
  position: absolute;
  font-size: 20px;
  text-align: left;
  color: #333;
  margin-bottom: -32px;
  font-weight: 300;
  letter-spacing: 2px;
  bottom: 243px;
  left: 160px !important;
  width: 700px;
}
#slider img {
  display: block;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#products {
  margin-top: 150px;
}
#products .container .row .filterDiv {
  display: none;
}
#products .container .row .show {
  display: block;
}
#products .category ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}
#products .category ul .active {
  transition: 1s;
  background-color: #000;
}
#products .category ul .active a {
  color: #fff !important;
}
#products .category ul li {
  list-style: none;
  border: 1px solid rgba(128, 128, 128, 0.1019607843);
  width: 150px;
  text-align: center;
  height: 40px;
  padding-top: 7px;
  cursor: pointer;
}
#products .category ul li a {
  text-decoration: none;
  color: black;
}
#products .products {
  width: 100%;
  height: 560px;
  margin-top: 50px;
  overflow: hidden;
}
#products .products a img {
  transition: s;
  width: 100%;
  height: 400px;
}
#products .products .name {
  margin-top: 10px;
}
#products .products .name a {
  text-decoration: none;
  color: gray;
  font-family: monospace;
}
#products .products .name a:hover {
  color: red;
  transition: 0.8s;
}
#products .products .category-name a {
  text-decoration: none;
  color: black;
  font-family: initial;
  font-size: 24px;
}
#products .products .category-name a:hover {
  color: red;
  transition: 0.8s;
}
#products .products .price-button {
  display: flex;
  margin-top: 15px;
}
#products .products .price-button p {
  color: gray;
  font-family: monospace;
}
#products .products .price-button button {
  border: none;
  margin-left: 167px;
  background-color: #d14031;
  border-radius: 0;
}
#products .products .price-button button:hover {
  background-color: rgb(172, 2, 2);
  transition: 0.5s;
}
#products .product {
  position: relative;
}
#products .product .wishlist-cart {
  transition: 0.5s;
  position: absolute;
  top: 70px;
  right: 30px;
  font-size: 22px;
  opacity: 0;
}
#products .product .wishlist-cart i {
  cursor: pointer;
  color: red;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  padding-left: 5px;
}
#products .product .wishlist-cart i:nth-child(2) {
  cursor: pointer;
  color: #000;
  padding-top: 6px;
  padding-left: 4px;
}
#products .product:hover .wishlist-cart {
  opacity: 1;
}

#our-services {
  margin-top: 100px;
}
#our-services .service .background-image {
  height: 420px;
}
#our-services .service .background-image .icon {
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
}
#our-services .service .background-image .icon span {
  color: white;
}
#our-services .service .background-image .name {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-family: monospace;
}
#our-services .service .background-image .description {
  color: white;
  text-align: center;
  font-family: serif;
}
#our-services .service .background-image .description h3 {
  width: 600px;
  margin-left: 350px;
}
#our-services .service .background-image .button {
  margin-top: 40px;
  text-align: center;
}
#our-services .service .background-image .button button {
  width: 200px;
  background: none;
  border: 1px solid white;
}
#our-services .service .background-image .button button:hover {
  background-color: white;
  transition: 0.5s;
}
#our-services .service .background-image .button button:hover p {
  color: #000;
}
#our-services .service .background-image .button button p {
  padding-top: 13px;
  color: white;
}

#authors {
  margin-top: 150px;
}
#authors .authors {
  margin-left: 100px;
}
#authors .authors .services {
  text-align: center;
  color: gray;
}
#authors .authors .month {
  text-align: center;
  font-family: monospace;
}
#authors .authors .description {
  text-align: center;
  color: gray;
  margin-top: 10px;
}
#authors .authors .description p {
  font-size: 18px;
  width: 567px;
  margin-left: 300px;
}
#authors .authors .author {
  margin-top: 50px;
}
#authors .authors .author .profession {
  margin-left: 70px;
  margin-top: 20px;
  font-family: fantasy;
}
#authors .authors .author .profession p {
  color: gray;
}
#authors .authors .author .name {
  margin-left: 45px;
}
#authors .authors .author .name p {
  font-size: 18px;
}
#authors .authors .author .author-description {
  margin-left: -22px;
}
#authors .authors .author .author-description p {
  width: 250px;
  text-align: center;
}

#autobiography1 {
  margin-top: 150px;
}
#autobiography1 .autobiography1 {
  width: 100%;
  height: 500px;
  display: flex;
}
#autobiography1 .autobiography1 .left .name {
  color: gray;
  margin-left: 100px;
}
#autobiography1 .autobiography1 .left .name p {
  padding-top: 101px;
  font-family: fangsong;
}
#autobiography1 .autobiography1 .left .title {
  margin-left: 100px;
}
#autobiography1 .autobiography1 .left .description {
  margin-left: 100px;
  margin-top: 20px;
}
#autobiography1 .autobiography1 .left .description p {
  width: 400px;
}
#autobiography1 .autobiography1 .left .button {
  margin-top: 40px;
  margin-left: 100px;
}
#autobiography1 .autobiography1 .left .button button {
  width: 200px;
  background: none;
  border: 1px solid black;
}
#autobiography1 .autobiography1 .left .button button:hover {
  background-color: #282828;
  transition: 0.5s;
}
#autobiography1 .autobiography1 .left .button button:hover p {
  color: white;
}
#autobiography1 .autobiography1 .left .button button p {
  padding-top: 13px;
  color: black;
  font-family: initial;
}
#autobiography1 .autobiography1 .left .image {
  margin-left: 500px;
}
#autobiography1 .autobiography1 .left .image img {
  width: 170px;
}
#autobiography1 .autobiography1 .right {
  width: 200px;
  height: 100%;
}
#autobiography1 .autobiography1 .right .image1 img {
  width: 300px;
  margin-top: -46px;
  margin-left: 100px;
}
#autobiography1 .autobiography1 .right .image2 img {
  width: 350px;
  margin-top: -88px;
  margin-left: 200px;
}

#autobiography2 {
  margin-top: 200px;
}
#autobiography2 .autobiography2 {
  background-color: aliceblue;
  width: 100%;
  height: 500px;
  display: flex;
}
#autobiography2 .autobiography2 .left .backgrounds {
  display: flex;
}
#autobiography2 .autobiography2 .left .backgrounds .backgorund-image {
  width: 200px;
  height: 500px;
}
#autobiography2 .autobiography2 .left .backgrounds .images .image1 img {
  width: 400px;
  margin-top: -38px;
}
#autobiography2 .autobiography2 .left .backgrounds .images .image2 img {
  width: 200px;
  margin-left: -140px;
  margin-top: -42px;
}
#autobiography2 .autobiography2 .right {
  margin-left: 50px;
}
#autobiography2 .autobiography2 .right .name {
  color: gray;
  margin-left: 100px;
}
#autobiography2 .autobiography2 .right .name p {
  padding-top: 101px;
  font-family: fangsong;
}
#autobiography2 .autobiography2 .right .title {
  margin-left: 100px;
}
#autobiography2 .autobiography2 .right .description {
  margin-left: 100px;
  margin-top: 20px;
}
#autobiography2 .autobiography2 .right .description p {
  width: 400px;
}
#autobiography2 .autobiography2 .right .button {
  margin-top: 40px;
  margin-left: 100px;
}
#autobiography2 .autobiography2 .right .button button {
  width: 200px;
  background: none;
  border: 1px solid black;
}
#autobiography2 .autobiography2 .right .button button:hover {
  background-color: #282828;
  transition: 0.5s;
}
#autobiography2 .autobiography2 .right .button button:hover p {
  color: white;
}
#autobiography2 .autobiography2 .right .button button p {
  padding-top: 13px;
  color: black;
  font-family: initial;
}
#autobiography2 .autobiography2 .right .image {
  margin-left: 320px;
}
#autobiography2 .autobiography2 .right .image img {
  width: 300px;
}

#gallery {
  margin-top: 200px;
}
#gallery .image1 {
  opacity: 1;
  overflow: hidden;
}
#gallery .image1 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image1 img:hover {
  transform: scale(1.1);
}
#gallery .image2 {
  overflow: hidden;
}
#gallery .image2 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image2 img:hover {
  transform: scale(1.1);
}
#gallery .image3 {
  overflow: hidden;
}
#gallery .image3 img {
  width: 100%;
  margin-top: 23px;
  transition: 0.8s;
}
#gallery .image3 img:hover {
  transform: scale(1.1);
}
#gallery .image4 {
  margin-top: 20px;
  overflow: hidden;
}
#gallery .image4 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image4 img:hover {
  transform: scale(1.1);
}
#gallery .image5 {
  margin-top: 20px;
  overflow: hidden;
}
#gallery .image5 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image5 img:hover {
  transform: scale(1.1);
}
#gallery .image6 {
  margin-top: 26px;
  overflow: hidden;
}
#gallery .image6 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image6 img:hover {
  transform: scale(1.1);
}
#gallery .image7 {
  overflow: hidden;
}
#gallery .image7 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image7 img:hover {
  transform: scale(1.1);
}
#gallery .image8 {
  margin-top: 17px;
  overflow: hidden;
}
#gallery .image8 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image8 img:hover {
  transform: scale(1.1);
}
#gallery .image9 {
  margin-top: 26px;
  overflow: hidden;
}
#gallery .image9 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image9 img:hover {
  transform: scale(1.1);
}
#gallery .image10 {
  margin-top: 26px;
  overflow: hidden;
}
#gallery .image10 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image10 img:hover {
  transform: scale(1.1);
}
#gallery .image11 {
  overflow: hidden;
}
#gallery .image11 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image11 img:hover {
  transform: scale(1.1);
}
#gallery .image12 {
  overflow: hidden;
  margin-top: 18px;
}
#gallery .image12 img {
  width: 100%;
  transition: 0.8s;
}
#gallery .image12 img:hover {
  transform: scale(1.1);
}

#brand {
  margin-top: 150px;
}
#brand img {
  width: 100%;
  height: 170px;
  cursor: pointer;
  transition: 0.8s;
}
#brand img:hover {
  margin-top: -20px;
}

#navbar .logo-pages {
  display: flex;
}
#navbar .logo-pages .logo {
  width: 20px;
  height: 20px;
}
#navbar .logo-pages .logo img {
  width: 70px;
  margin-top: 40px;
}
#navbar .logo-pages .pages {
  margin-left: 70px;
  margin-top: 55px;
  font-size: 19px;
}
#navbar .logo-pages .pages ul {
  display: flex;
  gap: 20px;
}
#navbar .logo-pages .pages ul .active-menu a {
  color: #d14031;
}
#navbar .logo-pages .pages ul li {
  list-style: none;
}
#navbar .logo-pages .pages ul li a {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#navbar .basket-search {
  margin-top: 55px;
  display: flex;
  margin-left: 476px;
}
#navbar .basket-search .basket {
  display: flex;
}
#navbar .basket-search .basket a i {
  color: black;
  font-size: 20px;
}
#navbar .basket-search .basket .basket-number {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: red;
  color: white;
  margin-top: -7px;
  margin-left: -5px;
  position: relative;
  margin-right: 10px;
}
#navbar .basket-search .basket .basket-number span {
  font-size: 13px;
  position: absolute;
  left: 3px;
  bottom: -2px;
}
#navbar .basket-search .search {
  margin-left: 12px;
  cursor: pointer;
}
#navbar .basket-search .search i {
  font-size: 20px;
}
#navbar .basket-search .wishlist {
  margin-left: 12px;
  display: flex;
}
#navbar .basket-search .wishlist a i {
  font-size: 20px;
  color: black;
}
#navbar .basket-search .wishlist .wishlist-number {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: red;
  color: white;
  margin-top: -7px;
  margin-left: -5px;
  position: relative;
  margin-right: -4px;
}
#navbar .basket-search .wishlist .wishlist-number span {
  font-size: 13px;
  position: absolute;
  left: 3px;
  bottom: -2px;
}
#navbar .basket-search .wishlist .border {
  margin-left: 10px;
}
#navbar .basket-search .user {
  margin-left: 12px;
  cursor: pointer;
}
#navbar .basket-search .user i {
  font-size: 20px;
  color: black;
}
#navbar .basket-search .user .border {
  margin-left: 10px;
}
#navbar .search-input {
  right: 113px;
  position: absolute;
  top: 125px;
  width: 85%;
}
#navbar .search-input input {
  border: none;
  outline: none;
  width: 100%;
}
#navbar .login-register {
  width: 230px;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
  position: absolute;
  right: 109px;
  top: 91px;
}
#navbar .login-register a {
  margin-left: 20px;
  font-size: 17px;
  padding-top: 7px;
  text-decoration: none;
  color: black;
}
#navbar .login-register .border {
  margin-top: 13px;
}

#navbar-phone .nav {
  display: flex;
  justify-content: space-between;
}
#navbar-phone .nav .logo-img {
  margin-top: 10px;
  margin-left: 10px;
}
#navbar-phone .nav .logo-img img {
  width: 50px;
  height: 50px;
}
#navbar-phone .nav .icons {
  margin-top: 20px;
  margin-left: -30px;
}
#navbar-phone .nav .icons ul {
  gap: 15px;
  display: flex;
}
#navbar-phone .nav .icons ul li {
  list-style: none;
}
#navbar-phone .nav .icons ul li a {
  text-decoration: none;
}
#navbar-phone .nav .icons ul li a i {
  color: black;
  cursor: pointer;
}
#navbar-phone .nav .icons ul li i {
  color: black;
  cursor: pointer;
}
#navbar-phone .nav .hamburger-icon {
  margin-top: 20px;
}
#navbar-phone .search-input input {
  border: none;
  outline: none;
}
#navbar-phone .hamburger-menu {
  margin-top: 10px;
}
#navbar-phone .hamburger-menu ul li {
  list-style: none;
}
#navbar-phone .hamburger-menu ul li a {
  text-decoration: none;
  color: gray;
  font-family: auto;
}

#footer {
  margin-top: 150px;
  background-color: #282828;
  width: 100%;
  height: 450px;
}
#footer .left1 {
  margin-top: 80px;
}
#footer .left1 h4 {
  color: white;
}
#footer .left1 .story {
  margin-top: 40px;
}
#footer .left1 .story p {
  cursor: pointer;
  color: rgb(153, 153, 153);
}
#footer .left1 .story p:hover {
  color: white;
  transition: 0.5s;
}
#footer .left2 {
  margin-top: 80px;
}
#footer .left2 h4 {
  color: white;
}
#footer .left2 .story {
  margin-top: 40px;
}
#footer .left2 .story p {
  cursor: pointer;
  color: rgb(153, 153, 153);
}
#footer .left2 .story p:nth-child(2) {
  margin-top: -15px;
}
#footer .left2 .story p:nth-child(3) {
  margin-top: -15px;
}
#footer .left2 .icons a i {
  color: rgb(153, 153, 153);
}
#footer .left2 .icons a i:hover {
  color: white;
  transition: 0.5s;
}
#footer .left3 {
  margin-top: 80px;
}
#footer .left3 h4 {
  color: white;
}
#footer .left3 .story {
  margin-top: 40px;
}
#footer .left3 .story p {
  cursor: pointer;
  color: rgb(153, 153, 153);
}
#footer .left3 .story p:nth-child(2) {
  margin-top: -15px;
}
#footer .left3 .email-input input {
  background-color: #282828;
  border: 1px solid rgb(153, 153, 153);
  width: 260px;
  height: 50px;
}
#footer .right {
  margin-top: 80px;
}
#footer .right h4 {
  color: white;
}
#footer .right .story {
  margin-top: 40px;
}
#footer .right .story .images1 {
  display: flex;
  gap: 10px;
}
#footer .right .story .images1 img {
  width: 100%;
}
#footer .right .story .images2 {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
#footer .right .story .images2 img {
  width: 100%;
}
#footer .btn {
  margin-left: 350px;
}
#footer .btn #topbtn {
  width: 40px;
  height: 40px;
  background-color: #d14031;
  border: none;
}
#footer .btn #topbtn i {
  color: white !important;
  font-size: 15px;
}

@media (max-width: 850px) {
  #slider .swiper .swiper-wrapper .swiper-slide p {
    font-size: 10px;
  }
  #slider .swiper .swiper-wrapper .swiper-slide h1 {
    font-size: 15px;
    margin-top: 10px;
  }
  #slider .swiper .swiper-wrapper .swiper-slide h3 {
    width: 100px;
    font-size: 10px;
    margin-top: 30px !important;
  }
  #slider .swiper .swiper-wrapper .swiper-slide .shop {
    margin-top: 30px;
    font-size: 9px;
    width: 100px;
    height: 30px;
  }
  #products .category ul li a {
    font-size: 8px;
  }
  #products .products .price-button button {
    margin-left: 50px;
    margin-left: 228px;
  }
  #our-services .service .background-image .description h3 {
    font-size: 15px;
    width: 150px;
    margin-left: 111px;
  }
  #authors .authors .services {
    margin-left: -90px;
  }
  #authors .authors .month {
    margin-left: -75px;
  }
  #authors .authors .description {
    margin-left: -332px;
  }
  #authors .authors .description p {
    width: 267px;
  }
  #autobiography1 .autobiography1 .left .image {
    display: none;
  }
  #autobiography1 .autobiography1 .left .name {
    margin-left: 121px;
  }
  #autobiography1 .autobiography1 .left .title {
    margin-left: 60px;
  }
  #autobiography1 .autobiography1 .left .description {
    margin-left: 17px;
  }
  #autobiography1 .autobiography1 .left .description p {
    width: 350px;
    text-align: center;
  }
  #autobiography1 .autobiography1 .left .button {
    margin-left: 97px;
  }
  #autobiography1 .autobiography1 .right .image1 {
    display: none;
  }
  #autobiography1 .autobiography1 .right .image2 {
    display: none;
  }
  #autobiography2 .autobiography2 .left .backgrounds .backgorund-image {
    display: none;
  }
  #autobiography2 .autobiography2 .left .images {
    display: none;
  }
  #autobiography2 .autobiography2 .left .title {
    margin-left: 60px;
  }
  #autobiography2 .autobiography2 .left .description {
    margin-left: 17px;
  }
  #autobiography2 .autobiography2 .left .description p {
    width: 350px;
    text-align: center;
  }
  #autobiography2 .autobiography2 .left .button {
    margin-left: 97px;
  }
  #autobiography2 .autobiography2 .right .name {
    margin-left: 70px;
  }
  #autobiography2 .autobiography2 .right .title {
    margin-left: 22px;
  }
  #autobiography2 .autobiography2 .right .description {
    margin-left: -32px;
  }
  #autobiography2 .autobiography2 .right .description p {
    width: 350px;
    text-align: center;
  }
  #autobiography2 .autobiography2 .right .button {
    margin-left: 50px;
  }
  #autobiography2 .autobiography2 .right .image {
    display: none;
  }
  #brand .brand {
    margin-top: 30px;
  }
  #brand .brand img {
    margin-left: 100px;
    width: 50%;
  }
  #footer .footer-background-color {
    background-color: #282828;
  }
  #footer .footer-background-color .right .story .images1 img {
    width: 31%;
  }
  #footer .footer-background-color .right .story .images2 img {
    width: 31%;
  }
  #footer .footer-background-color .btn {
    margin-left: 220px;
  }
  #carts .carts1 {
    margin-left: 27px;
  }
  #carts .carts3 {
    margin-left: 20px;
  }
  #promo-products .description {
    margin-left: 60px;
  }
  #promo-products .description p {
    width: 250px;
  }
  #promo-products .cartsss {
    width: 84%;
    margin-left: 35px;
  }
  #product-sidebar .products .price-button button {
    margin-left: 228px;
  }
  #product-sidebar .right-section {
    margin-left: 0;
  }
  #product-sidebar .right-section .logo {
    margin-left: 69px;
  }
  #product-sidebar .right-section .images img {
    width: 70px;
  }
  #product-sidebar .pagination {
    margin-top: 40px;
  }
  #contact .name {
    margin-top: 40px;
  }
  #blog .section-2 .description {
    width: 273px;
    margin-left: 50px;
  }
  #blog .section-6 {
    margin-left: 0;
  }
  #blog .section-7 {
    margin-left: 0;
  }
  #blog .section-8 {
    margin-left: 0;
  }
  #blog .section-9 {
    margin-left: 0;
  }
  #blog .section-10 {
    margin-left: 0;
  }
  #blog .section-11 {
    margin-left: 0;
  }
  #blog .logo span {
    margin-left: 176px !important;
  }
  #review-area .tab-menu ul {
    margin-left: -30px;
  }
  #review-area .user-comment input {
    width: 100%;
  }
  #review-area .user-comment textarea {
    width: 100%;
  }
  #blog-detail .details .section-1 .icons {
    margin-left: 100px;
  }
  #blog-detail .details .section-2 .image-names .description-4 {
    width: 200px;
  }
  #blog-detail .details .section-3 .comments .image-names .description-4 {
    width: 200px;
    margin-top: 0;
  }
  #blog-detail .section-5 {
    margin-top: 60px;
    margin-left: 0;
  }
  #blog-detail .section-5 .logo span {
    margin-left: 177px;
  }
  #blog-detail .section-6 {
    margin-left: 0;
  }
  #blog-detail .section-6 .logo span {
    margin-left: 177px;
  }
  #blog-detail .section-7 {
    margin-left: 0;
  }
  #blog-detail .section-7 .logo span {
    margin-left: 177px;
  }
  #blog-detail .section-8 {
    margin-left: 0;
  }
  #blog-detail .section-8 .logo span {
    margin-left: 177px;
  }
  #blog-detail .section-9 {
    margin-left: 0;
  }
  #blog-detail .section-9 .logo span {
    margin-left: 177px;
  }
  #blog-detail .section-10 {
    margin-left: 0;
  }
  #cart-products .basket-products {
    overflow-x: scroll;
  }
  #wishlist-products .wishlist-products {
    overflow-x: scroll;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  #products .category ul li a {
    font-size: 15px;
  }
  #products .products .price-button button {
    margin-left: 197px;
  }
  #our-services .service .description h3 {
    width: 350px !important;
    margin-left: 172px !important;
  }
  #authors .authors .description p {
    width: 579px;
  }
  #autobiography1 .autobiography1 .left .name {
    margin-left: 275px;
  }
  #autobiography1 .autobiography1 .left .title {
    margin-left: 200px;
  }
  #autobiography1 .autobiography1 .left .description {
    margin-left: 120px;
  }
  #autobiography1 .autobiography1 .left .description p {
    width: 450px;
  }
  #autobiography1 .autobiography1 .left .button {
    margin-left: 243px;
  }
  #autobiography1 .autobiography1 .right {
    background-image: none !important;
  }
  #autobiography2 .autobiography2 .right .name {
    margin-left: 230px;
  }
  #autobiography2 .autobiography2 .right .title {
    margin-left: 170px;
  }
  #autobiography2 .autobiography2 .right .description {
    margin-left: 80px;
  }
  #autobiography2 .autobiography2 .right .description p {
    width: 450px;
  }
  #autobiography2 .autobiography2 .right .button {
    margin-left: 200px;
  }
  #promo-products .description {
    margin-left: 120px;
  }
  #promo-products .description p {
    width: 450px;
  }
  #promo-products .cartsss .box-area {
    margin-left: -20px;
  }
  #product-sidebar .products .price-button button {
    margin-left: 197px;
  }
  #product-sidebar .logo span {
    margin-left: 272px !important;
  }
  #product-sidebar .right-section {
    margin-left: 0;
  }
  #product-sidebar .right-section .images img {
    width: 135px;
    height: 190px;
  }
  #blog .section-2 .description {
    width: 600px;
  }
  #blog .section-6 .description p {
    width: 582px !important;
  }
  #blog .section-6 .logo span {
    margin-left: 340px !important;
  }
  #blog .section-7 .logo span {
    margin-left: 340px !important;
  }
  #blog .section-8 .logo span {
    margin-left: 340px !important;
  }
  #blog .section-9 .logo span {
    margin-left: 340px !important;
  }
  #blog .section-10 .logo span {
    margin-left: 340px !important;
  }
  #blog-detail .details .section-1 .icons {
    margin-left: 270px;
  }
  #blog-detail .details .section-2 .image-names .description-4 {
    width: 515px;
  }
  #blog-detail .details .section-3 .comments .image-names .description-4 {
    width: 515px;
  }
  #blog-detail .section-5 .description p {
    width: 600px;
  }
  #blog-detail .section-5 .logo span {
    margin-left: 341px;
  }
  #blog-detail .section-6 {
    margin-left: 0;
  }
  #blog-detail .section-6 .logo span {
    margin-left: 341px;
  }
  #blog-detail .section-7 {
    margin-left: 0;
  }
  #blog-detail .section-7 .logo span {
    margin-left: 341px;
  }
  #blog-detail .section-8 {
    margin-left: 0;
  }
  #blog-detail .section-8 .logo span {
    margin-left: 341px;
  }
  #blog-detail .section-9 {
    margin-left: 0;
  }
  #blog-detail .section-9 .logo span {
    margin-left: 341px;
  }
  #blog-detail .section-10 {
    margin-left: 0;
  }
  #footer .footer-background-color {
    background-color: #282828;
  }
  #footer .footer-background-color .right .story .images1 img {
    width: 31%;
  }
  #footer .footer-background-color .right .story .images2 img {
    width: 31%;
  }
  #footer .footer-background-color .btn {
    margin-left: 220px;
  }
}
#background {
  margin-top: 73px;
}
#background .background-image {
  width: 100%;
  height: 400px;
}
#background .title-name {
  text-align: center;
  padding-top: 150px;
  color: white;
}
#background .title-name p {
  font-family: monospace;
}
#background .title-name h3 {
  font-family: monospace;
}/*# sourceMappingURL=style.css.map */