<main>
    <section id="background">
        <div class="background-images" style="background-image:url(./assets/images/cart/cart-backgorund-image.jpg)">
            <h2>Cart</h2>
        </div>
    </section>
    <section id="cart-products">
        <div class="container">
            <div class="basket-products">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>

                    </thead>
                    <tbody>
                    </tbody>
                    <tr>
                        <td>
                            <button class="btn btn-primary shop"><a href="Shop.html">Continue shopping</a></button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span>Grand total:</span></td>
                    </tr>
                </table>
            </div>

            <div class="show-alert d-none">
                <div class="alert">
                    <button class="btn btn-danger btn-red">YOU HAVE NO ITEMS IN YOUR SHOPPING CART.</button>

                </div>
                <div class="button-shop">
                    <button class="btn btn-primary btn-orange">Continue shopping</button>
                </div>
            </div>


        </div>
    </section>
</main>




