@model AutobiographyTwoUpdateVM

@{
    ViewData["Title"] = "Edit";
}


<div class="container my-5">
    <h1>Edit</h1>

    <div class="d-flex">
        <div class="img-detail">
            <img src="~/assets/images/home//@Model.LargeImage" style="width:250px;height:200px" />
        </div>

        <div class="img-detail">
            <img src="~/assets/images/home//@Model.SmallImage" style="width:250px;height:200px;margin-left:10px;" />
        </div>
    </div>


    <form class="form-sample" method="post" enctype="multipart/form-data">
        <label for="formFile" class="form-label">Choose a new large image for Autobiography</label>
        <input type="file" class="form-control" id="customFile" asp-for="LargePhoto" />

        <label for="formFile" class="form-label">Choose a new small image for Autobiography</label>
        <input type="file" class="form-control" id="customFile" asp-for="SmallPhoto" />

        <label for="formFile" class="form-label my-2">Title</label>
        <input type="text mt-3" class="form-control" id="customFile" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title">@ViewBag.error</span>

        <label for="formFile" class="form-label my-2">Name</label>
        <input type="text mt-3" class="form-control" id="customFile" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name">@ViewBag.error</span>

        <label for="formFile" class="form-label my-2">Description</label>
        <input type="text mt-3" class="form-control" id="customFile" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description">@ViewBag.error</span>


        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>

</div>











