@model ContactVM
<!-- Main Area -->
<main>
    <section id="map">
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24313.215380891517!2d49.86191205!3d40.3833254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2saz!4v1678084299482!5m2!1sen!2saz"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                @foreach (var store in Model.Stores)
                {
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="name">
                            <h4>Bookstore Central</h4>
                        </div>
                        <div class="location">
                            <div class="icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="address">
                                <p>@store.Location</p>
                            </div>
                        </div>
                        <div class="phone">
                            <div class="icon">
                                <i class="fa-solid fa-mobile"></i>
                            </div>
                            <div class="number">
                                <p>@store.Phone</p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="mail">
                                <p>@store.Mail</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <section id="brand">
        <div class="container">
            <div class="row">
                @foreach (var brand in Model.Brands)
                {
                    <div class="col-lg-2 col-md-6 col-sm-12 brand">
                        <img src="~/assets/images/home/@brand.Image" alt="">
                    </div>
                }
            </div>

        </div>
    </section>
</main>
<!-- Main Area -->
