@model Tag

@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">

    <form class="form-sample" asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="formFile" class="form-label my-2">Name</label>
            <input class="form-control" id="customFile" disabled asp-for="@Model.Name" />
        </div>

        <div class="buttons my-3">
            
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>













