<main>
    <section id="error-pages">
        <div class="error-background-image"
             style="background-image:url(./assets/images/404-error-page/error-image.jpg)">
            <h1 class="mt-5">404</h1>
            <h4 class="mt-5">Page not found</h4>
            <p class="mt-3">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
            <a href="Home.html"><button>GO TO HOME</button></a>
        </div>
    </section>
</main>